NEXT_PUBLIC_SUPABASE_URL=https://osciskgcouhdpbtmxwif.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9zY2lza2djb3VoZHBidG14d2lmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU2MDEzMTQsImV4cCI6MjA1MTE3NzMxNH0.lVB1kIVqdqVzgNGJraa2nRklRWN3hqXHC5LabrFE14A